@import "tailwindcss";

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.black-piece{
  background-image: radial-gradient(black 60%, white);
}

.white-piece{
  background-image: radial-gradient(white 60%, black);
}